/* general styles */

p {
    font-size: 16px;
}

h4 {
    margin-bottom: 25px !important;
  }

/* top navigation bar styles */

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #BC8629 !important;
  }

/* page styles */

.box {
    padding-top: 30px;
    padding-bottom: 50px;
}

.whiteBox {
    background-color: #ffffff;
    color: #555555;
}

#img-caption {
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
}

.goldBox {
    background-color: #b37700;
    color: #ffffff;
}

.row-generalInfo {
    position: relative;
    height: 26rem;
}

.col-generalInfo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.margin {
    margin-bottom: 45px;
  }

.img-small {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    /* box-shadow: 2px 2px 12px 0 #e0dede; */
}

#top5s {
    font-size: 18px;
}

/* footer styles */

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: #ffffff;
}

footer .glyphicon {
    color: #b37700;
  }